{#
/**
 * @file robot.html.twig
 * Default theme implementation to present Robot data.
 *
 * This template is used when viewing Robot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_robot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('robot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
